body {
  background-color: #f9f9f9;
}
.container {
  width: 400px;
}
.container .text {
  font-size: 14px;
  padding: 0 0 30px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.4;
  text-align: center;
  color: #545454;
}
.container h1 {
  padding: 15px 0;
  font-size: 20px;
  color: #c93838;
  display: block;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: normal;
}
